
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body 
{ 
	font-family: Arial, sans-serif; 
	background-color: #5A5A5A ;
	padding: 20px;
}




.navbar {
          background-color: #FFA500;
          padding:  10px;
          text-align: center;
          margin-bottom: 20px;


}



.navbar ul {

 list-style-type: none;

}




.navbar li {

 display: inline;

 margin: 0 15px;

}



.navbar a {

 color: white;

 text-decoration: none;

 font-size: 18px; 
}



/* Content Section Styling */



.content { 
 width: 100vw;
 justify-content: center;
 display: flex;
 align-items: center;
 gap: 50px;
 margin-bottom: 60px;

  }

/* Image Styling */

.image img{  
    width: 400px;
    height: auto;
}

/* Text Module Styling */

.text-module {
	max-width: 400px;
	text-align: left;
}


.text-module h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.text-module  p {
	font-size: 16px;
	line-height: 1.5;
}


.background-image-container{
  background-color:  ;
  background-image:  url( 'Leonardo_Linda diner.jpg' );
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
  margin-bottom: 60px;

}

.background-image-container h1 {
	position: relative;
	z-index: 2;
	font-size: 80px;
    margin: 0; /* Remove default margin */
}
}

